* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box
}



body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

a:link {text-decoration: none; color: rgb(245, 204, 128);}
a:visited {color: tomato;}



header {
    border-top: 8px solid darkblue;
    border-bottom: 10px solid darkblue;
    border-radius: 5px;
    font-size: larger;
    background-image: linear-gradient(to top left, rgb(121, 0, 0) 10%, crimson, #ff425b);
    width: 100%;
    height: 190px;
    display: flex;
}

header a {display: flex;}

header a img {
    margin: 2% 0 0 3%; 
    border-radius: 13px;
    height: 158px;
    width: 195px;
}

header a h1 {
    margin: 12% 0 0 25px;
    color: #f9f9fa;
    text-shadow: 1px 2px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

header a h4 {
    margin-top: 75pt;
    color: #0067c6;
    text-shadow: 1px 1px rgb(0, 44, 109);
    transform: translateX(-155pt);
    font-size: 16px;
}

.head-btn {
    transition: 0.3s linear;
    height: 35%;
    margin-top: 10vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0;
    -moz-box-shadow: 0 3px 10px 0 #3b8ed6;
    -webkit-box-shadow: 0 3px 10px 0 #3b8ed6;
    color: #0169C7;
    font-size: 93%;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    border: none;
}
.head-btn:hover {
    cursor: pointer;
    background-color: #157fdb;
    color: whitesmoke;
    text-shadow: none;
    border: 2px #0169C7 solid;
}
.head-btn:active {
    background-color: #000080;
    color: lightblue;
    border: none;
}

button[name="serviço"] {width: 9%; border-radius: 10px; margin-left: 40vw; height: 55px;}
button[name="opções"] {
    width: 4vw;
    height: 9vh; 
    border-radius: 50%;
    transform: rotate(90deg);
    margin-left: 4%;
    font-size: larger;
}
header h2 {transform: translateY(-2vh);}




main { 
    margin-top: 5%;
    height: 565vh; 
    background-color: whitesmoke; 
    border-top: 3px solid black; 
    padding-bottom: 10%;
}



#EVL-news {
    width: 50%;
    padding-bottom: 2%;
    margin: 3% 0 0 1%;  
    float: left;
}

#EVL-news h2 {
    color: crimson;
    text-shadow: 1px 1px rgb(255, 74, 110);
    border-bottom: 1px solid grey;
    font-size: large;
    width: 65%; 
    margin: 20px 0 6vh 5%;
    padding: 0 0 10px 2%;
}

.news {
    width: 55vw;
    margin: 5% 2% 2% 2%;    
    padding-bottom: 3%;
    border-bottom: 1px solid grey;
    border-radius: 10px;
    background-image: linear-gradient(to top right, white,#fc2f4b,darkred);
}

.news-links {display: flex; cursor: default;}

.news a img {
    max-height: 175px;
    max-width: 260px;
    height: 175vh;
    width: 260vw; 
    margin: 4% 0 0 3%; 
    border-radius: 12px;
    border: 2px solid black;
    cursor: pointer;
}

.news a h6 {
    font-size: 15px;
    margin-top: 15%;
    transition: 0.4s;
    color: black;
    transform: translateX(-9%);
    cursor: pointer;
}
.news a h6:hover {color: #0169C7;}

.news a h5 {margin: 9% 0 0 3%; width: 5%; color: rgb(112, 0, 0); cursor: pointer;}

#EVL-news button {
    font-size: large;
    font-weight: bolder;
    margin: 12% 0 0 25%;
    width: 70%;
    padding: 2%;
    color: whitesmoke;
    background-color: darkred;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}
#EVL-news button:hover {
    background-color: crimson;
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}




aside {
    float: right;
    width: 40%;  
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    margin-top: 3%;
    top: 0;
}

#channels { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#channels h3 {
    color: crimson;
    text-shadow: 1px 1px rgb(255, 74, 110);
    border-bottom: 1px solid grey;
    font-size: large;
    width: 28vw;
    margin: 20px 0 2vh;
    padding: 0 0 10px 2%;
    position: sticky;
    top: 0;
}

.sites {
    width: 38%;
    padding: 2% 0 2%;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s; 
    margin-top: 15px;
}
.sites:hover {
    cursor: pointer;
    box-shadow: 0;
    -moz-box-shadow: 1px 5px 10px 0 crimson;
    -webkit-box-shadow: 1px 5px 10px 0 crimson;
}

.sites[name="M"] {background-color: rgba(173, 216, 230, 0);}
.sites[name="V"] {background-color: #9a000000;}
.sites[name="S"] {background-color: #05dd0500;}
.sites[name="M"]:hover {background-image: linear-gradient(to bottom left, rgb(142, 211, 235),lightblue,whitesmoke);}
.sites[name="V"]:hover {background-color: #9a0000; text-shadow: 2px 2px 6px lightcoral;}
.sites[name="S"]:hover {background-image: linear-gradient(to bottom left, lime,palegreen,whitesmoke);}


.icon-site {height: 70px; width: 95px; border-radius: 10px; margin-bottom: 10px;}

.sites h5 {color: black;}




#share {width: 40%;}

#share h4 {
    text-align: center;
    padding-bottom: 4%;
    margin-top: 24%;
    color: crimson;
    text-shadow: 1px 1px rgb(255, 74, 110);
    border-bottom: 1px solid grey;
    font-size: medium;
}

.button-channels {
    border-radius: 1%;
    height: 25px;
    width: 30px;
    margin: 15px 15px 15px 20px;
}




#menu {
    height: 30px;
    background-image: linear-gradient( to left, red, crimson, darkred, rgb(102, 7, 26));
    width: 100%;
    font-size: small;
    border: 1px solid whitesmoke;
    border-left: none;
    border-right: none;
}

.display {list-style: none; float: left;}

.display li {
    position: relative;
    float: left;
    padding-top: 2px;
    width: 268px;
    border-radius: 10px;
}

.display li a {
    cursor: pointer;
    color: whitesmoke;
    border-radius: 10px;
    font-weight: bolder;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: 0.4s linear;
}
.display li a:hover {
    color: white;
    box-shadow: 0;
    -moz-box-shadow: 0 3px 35px 0 crimson;
    -webkit-box-shadow: 0 3px 35px 0 crimson;
    text-shadow: 0px 0px 10px crimson;
}
.display li a:active {
    background-color: darkred;
    color: red;
    border: none;
    box-shadow: 0;
    -moz-box-shadow: 0 3px 35px 0 crimson;
    -webkit-box-shadow: 0 3px 35px 0 crimson;
    text-shadow: 0px 0px 10px crimson;
}

.display li ul {
    position: absolute;
    top: 28px;
    left: 0;
    display: none;
    width: 100%;
}
.display li:hover ul {display: block; height: 0; border-radius: 10px;}

.display li ul li {
    background-image: linear-gradient( to left, red, crimson, darkred, rgb(102, 7, 26));
    border: 1px solid whitesmoke;
    border-radius: 10px;
    display: block;
    width: 100%;
}




#category {
    width: 100%;
    background-image: linear-gradient(to top right, #f5f5f5 85%, #613060 90%, #a751a6 100%);
    height: 500px;
    border-top: 1px solid;
    padding-top: 2%;
    bottom: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#category h1 {
    margin-left: 3%;
    height: 20px;
    text-shadow: 2px 2px lightpink;
    border-bottom: grey 1px solid;
    padding-bottom: 7vh;
    width: 46%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
    width: 100%;
    list-style: none;
}

.list li {
    margin: 0 0 15px 4vw;
    font-size: 14px;
    width: 100%;
}
.list li::before {
    content: '\27A3';
    color: #954994;
    font-size: 26px;
}

.list p {
    margin: 10vh 0 0 5vw;
    font-weight: 650;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: #0169C7;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
.list a {color: #0169C7;}

.pages-links:link, .pages-links:visited{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s linear;
    padding-left: 10px;
}

.pages-links:hover {color: #a12b9f; text-shadow: 0px 0px 1px #954994;}
.pages-links:active {color: #0169C7;}




footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: xx-small;
    color: rgb(216, 245, 255);
    text-shadow: 1px 2px 3px black;
    font-weight: bolder;
    background-image: linear-gradient(to right, rgb(100, 0, 20), red, rgb(100, 0, 20));
    border-top: 2px solid rgba(0, 0, 0, 0.829);
}

footer h5 a:link {
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
    text-decoration: underline;
}