* { margin: 0; padding: 0; }



body { height: 100%; font-family: Verdana, Geneva, Tahoma, sans-serif;}

img { border-radius: 13px; }

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: x-small;
  background-color: #157fdb;
  border-top: 2px solid rgba(0, 0, 0, 0.829);
  text-shadow: 1px 0px #0169C7;
}
.copyleft { display: inline-block; transform: rotate(180deg); }

a:link, a:visited { text-decoration: none; }



header {
  border-bottom: 1px solid black;
  font-size: larger;
  background-image: url('../img/paisagem.png');
  width: 100%;
  height: 150px;
  display: flex;
}

header img { margin-left: 2%; margin-top: 1%; height: 125px; width: 135px; }

header h1 {
  margin-left: 1%;
  margin-top: 30px;
  color: #0169C7;
  text-shadow: 1px 3px #c6b98e;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 65px;
}

.head-btn { 
  transition: 0.3s linear; 
  height: 35%;
  margin-top: 3%;
  text-shadow: 1px 2px #c6b98e;
  background-color: rgba(255, 255, 255, 0.76);
  color: #0169C7;
  font-size: 93%;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  border: none;
}
.head-btn:hover {
  cursor: pointer;
  background-color: #157fdb;
  color: whitesmoke;
  text-shadow: none;
  border: 2px #0169C7 solid;
}

button[name="service"] { width: 9%; border-radius: 10px; margin-left: 54%; }
button[name="opitions"] { 
  width: 3%; 
  border-radius: 40%; 
  transform: rotate(90deg); 
  margin-left: 3%;
  font-size: larger;
}
header h2 { transform: translateY(-10px); }


main { 
  height: 650px; 
  background-color: whitesmoke; 
  border-top: 3px solid black; 
  padding-bottom: 10%;
}

#home { width: 80%; float: left; text-align: center; margin-left: 2%;}

#channels { float: right; width: 16%; margin-right: 2%; }
#channels h3 {
  border-left: 1px solid grey; 
  margin-bottom: 1%;
  margin-top: 1%;
  padding-left: 5%;
}

#home, #channels {
  height: 22px;
  text-shadow: 1px 0px grey;
  color: #0169C7;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid grey;
  font-size: small;
}

#homepainel { width: 82%; float: left;  }

#channelspainel {width: 13%;  padding-left: 5%; }

#channelspainel, #homepainel { display: flex; flex-wrap: wrap; height: 535px; }

.news {
  width: 220px;
  margin: 25px;
  border: 2px solid;
  background-color: #0169C7;
  border-radius: 15px;
  padding-bottom: 8px;
}

.img-nws {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid;
  height: 100px;
  width: 220px;
  margin-bottom: 10%;
}

.news-links {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  text-align: center;
}

a:link[class="news-links"], a:visited[class="news-links"] {
  text-shadow: 3px 2px #157fdb;
  color: black;
  transition: 0.3s linear;
}

a:link:active[class="news-links"], a:visited:active[class="news-links"] { color: lightblue; }
a[class="news-links"]:hover { color: whitesmoke; text-shadow: none; }

.sites {
  margin: 15px;
  width: 140px;
  text-align: center;
  text-shadow: 1px 1px 0 darkgray;
  padding-top: 5%;
  margin-right: 30%;
  border-radius: 20px;
  transition: 0.5s; 
}
.sites:hover {
  border: 1px solid;
  cursor: pointer;
  color: whitesmoke;
  text-shadow: none;
  background-color: #157fdb;
}
.img-sts { height: 40px; width: 60px;}

#channelspainel h4 {
  padding-bottom: 15%;
  margin-top: 20%;
  text-shadow: 1px 0px grey;
  color: #0169C7;
  border-bottom: 1px solid grey;
  font-size: smaller;
}
.button-channels {
  border-radius: 1%;
  display: flex; flex-wrap: wrap;
  height: 25px; 
  width: 30px;
  margin: 10px;
  padding-top: 5px;
  padding-left: 10%;
}



section[name="about"] {
  height: 550pt;
  padding-top: 2%;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(whitesmoke,#0169C7);
}

section[name="about"] img {
  float: right;
  margin-right: 15px;
  margin-top: 3%;
  height: 380px;
  width: 70%;
  opacity: 0.1;
  border-radius: 15px;
}

.title-abt { margin-left: 35px; width: 50%; text-shadow: 2px 1px grey; }
h1[class=title-abt] { margin-top: 60px;  height: 50px; font-size: 38px; }
h3[class=title-abt] { margin-top: 140px; height: 35px; font-size: 20px; }

.info {
  position: absolute;
  width: 40%;
  margin: 1%;
  margin-top: 1%;
  text-shadow: 2px 1px rgb(153, 153, 153);
  font-size: 16px;
  font-weight: bolder;
}
p { margin: 1%; }

center {
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  font-size: medium;
  opacity: 0.7;
  color: #000080;
  width: 50%;
  margin-left: 25%;
  transition: 0.4s linear;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 10px;
}

center:hover {
  transform: scale(1.3, 1.3);
  opacity: 1;
  border: 3px solid;
  border-style: outset;
  background-color: white;
  animation-name: msg;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: -9s;
}

@keyframes msg {
  1% {
    color: #000080;
  }

  20% {
    color: red;
    border-color: crimson;
    background-color: darkred;
    text-shadow: 1px 1px tomato;
  }

  30% {
    color: darkorange;
    border-color: gold;
    background-color: darkgoldenrod;
    text-shadow: 1px 1px goldenrod;
  }

  50% {
    color: green;
    border-color: chartreuse;
    background-color: yellowgreen;
    text-shadow: 1px 1px springgreen;
  }

  70% {
    color: deeppink;
    border-color: darkmagenta;
    background-color: violet;
    text-shadow: 1px 1px slateblue;
  }

  80% {
    color: #000080;
    border-color: aqua;
    background-color: #157fdb;
    text-shadow: 1px 1px turquoise;
  }

  100% {
    color: #000080;
  }
}

b { font-size: 40px; padding-right: 24%; }
small { font-size: 40px; padding-left: 24% }

#off {
  text-align: center;
  opacity: 0.2;
  transform: translateY(-15px);
  transition: 0.2s linear;
  width: 50%;
  margin-left: 23%;
}
#off:hover { opacity: 1; font-size: 21px; }



#category {
  width: 100%;
  background-color: whitesmoke;
  height: 500px;
  border-top: 1px solid;
  padding-top: 2%;
}

#category h3 {
  margin-left: 3%;
  height: 20px;
  text-shadow: 2px 2px lightblue;
  border-bottom: grey 1px solid;
  padding-bottom: 2%;
  width: 93%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#list {
  margin-top: 2%;
  margin-left: 2%;
  display: block;
  list-style: none;
  border-right: grey 1px solid;
  width: 15%;
  padding-right: 2%;
}

#list li { margin-bottom: 40px; }

a[class="pages-links"]:link, a[class="pages-links"]:visited {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s linear;
  border-radius: 10px;
  border-left: 4px solid blue;
  margin-left: 45px;
  padding-left: 6%;

}

a[class="pages-links"]:link:active, a[class="pages-links"]:visited:active { color: #0169C7; }
a[class="pages-links"]:hover { color: rgb(28, 28, 252); }




#credits {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.808);
  border-top: 1px solid;
  border-color: black;
  width: 100%;
  font-size: small;
}

.menu { list-style: none; float: left; }

.menu li {
  position: relative;
  float: left;
  border-right: 1px solid whitesmoke;
  width: 251pt;
}

.menu li a {
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  transition: 0.2s linear;
}

.menu li a:hover {
  color: whitesmoke;
  box-shadow: 0;
  -moz-box-shadow: 0 3px 10px 0 #3b8ed6;
  -webkit-box-shadow: 0 3px 10px 0 #3b8ed6;
  text-shadow: 0px 0px 5px #3b8ed6;
}

.menu li ul {
  position: absolute;
  bottom: 25px;
  left: 0;
  display: none;
  width: 100%;
}

.menu li:hover ul, .menu li.over ul { display: block; background-color: rgba(0, 0, 0, 0.808); }

.menu li ul li { border: 1px solid whitesmoke; display: block; width: 100%; }





aside {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 2%;
  border-top: 1px solid grey;
}

aside h2 {
  border-bottom: 1px solid grey;
  margin-top: 5%;
  padding-bottom: 2%;
  width: 50%;
  margin-left: 2%
}

.last-news {
  width: 50%;
  margin: 2%;
  margin-top: 4%;
  display: flex;
  padding-bottom: 3%;
  border-bottom: 1px solid grey;
}

.lnw-fig { height: 160px; width: 250px ; margin-left: 2%; }

.lnw-links { margin: 6%; font-size: large; }

aside button {
  font-size: large;
  margin: 4%;
  width: 30%;
  padding: 1%;
  color: whitesmoke;
  background-color: #157fdb;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
aside button:hover {
  background-color: #3e92ff;
  color: white;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}