* { margin: 0; padding: 0; }



body { font-family: Verdana, Geneva, Tahoma, sans-serif;}

img { border-radius: 13px; }

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: x-small;
  background-image: linear-gradient(#1e7af1,#0169C7,#216daf);
  border-top: 2px solid rgba(0, 0, 0, 0.829);
  text-shadow: 1px 0px #0169C7;
}

a:link, a:visited { text-decoration: none; }




header {
  border-top: 8px solid darkblue;
  border-bottom: 10px solid darkblue;
  border-radius: 5px;
  font-size: larger;
  background-image: linear-gradient(rgb(142, 211, 235),rgb(142, 211, 235),lightblue,whitesmoke);
  width: 100%;
  height: 190px;
  display: flex;
}

header a {display: flex;}
header a img { margin-left: 3%; margin-top: 3%; height: 165px; width: 200px; }

header a h1 {
  margin-left: 5%;
  margin-top: 17%;
  color: #0067c6;
  text-shadow: 1px 2px whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

.head-btn { 
  transition: 0.3s linear; 
  height: 35%;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0;
  -moz-box-shadow: 0 3px 10px 0 #3b8ed6;
  -webkit-box-shadow: 0 3px 10px 0 #3b8ed6;
  color: #0169C7;
  font-size: 93%;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  border: none;
}
.head-btn:hover {
  cursor: pointer;
  background-color: #157fdb;
  color: whitesmoke;
  text-shadow: none;
  border: 2px #0169C7 solid;
}

button[name="service"] { width: 9%; border-radius: 10px; margin-left: 50%; height: 55px; }
button[name="opitions"] { 
  width: 3%;
  height: 50px; 
  border-radius: 40%; 
  transform: rotate(90deg); 
  margin-left: 3%;
  font-size: larger;
}
header h2 { transform: translateY(-11px); }




main { 
  height: 650px; 
  background-color: whitesmoke; 
  border-top: 3px solid black; 
  padding-bottom: 10%;
}

#home { width: 79%; float: left; text-align: center; margin-left: 2%;}

#channels { float: right; width: 17%; margin-right: 2%; }
#channels h3 {
  border-left: 1px solid grey; 
  margin-bottom: 1%;
  margin-top: 1%;
  padding-left: 5%;
}

#home, #channels {
  height: 22px;
  text-shadow: 1px 0px grey;
  color: #0169C7;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid grey;
  font-size: small;
}

#homepainel { 
  width: 80%; 
  float: left;  
  border-right: 1px solid grey; 
  margin-top: 1%;
  padding-right: 1%;
}
#channelspainel {
  float: right;
  width: 17%;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1%;
}

#channelspainel, #homepainel { display: flex; flex-wrap: wrap; }

.news {
  width: 210px;
  margin: 25px;
  border: 2px solid;
  background-color: #0169C7;
  border-radius: 15px;
  padding-bottom: 2%;
}

.img-nws {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid;
  height: 120px;
  width: 210px;
  margin-bottom: 10%;
}

a:link[class="news-links"], a:visited[class="news-links"] {
  text-shadow: 3px 2px #157fdb;
  color: black;
  transition: 0.3s linear;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  text-align: center;
}

a:link:active[class="news-links"], a:visited:active[class="news-links"] { color: lightblue; }
a[class="news-links"]:hover { color: whitesmoke; text-shadow: 0px 0px 2px; box-shadow: 0; }

.sites {
  width: 48%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  border-radius: 15px;
  margin-top: 5%;
  transition: 0.5s; 
}
.sites[name="N"] {background-color: lightblue;}
.sites[name="S"] {background-color: #05dd05;}

.sites:hover {
  cursor: pointer;
  box-shadow: 0;
  -moz-box-shadow: 1px 5px 10px 0 #0169C7;
  -webkit-box-shadow: 1px 5px 10px 0 #0169C7;
}

.img-sts { height: 50px; width: 75px;}

#channelspainel h4 {
  padding-bottom: 8%;
  margin-top: 50%;
  color: #0169C7;
  border-bottom: 1px solid grey;
  font-size: smaller;
}
.button-channels {
  border-radius: 1%;
  display: flex; flex-wrap: wrap;
  height: 25px; 
  width: 30px;
  margin: 10px;
  padding-top: 15px;
}




#about {
  height: 600pt;
  padding-top: 3%;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(rgb(233, 233, 233),lightblue,#0169C7);
}

#about img {
  float: right;
  margin-right: 15px;
  margin-top: 3%;
  height: 380px;
  width: 70%;
  opacity: 0.1;
  border-radius: 15px;
}

.ttl-info { margin-left: 35px; width: 50%; text-shadow: 2px 1px grey; }
h1[class=ttl-info] { margin-top: 60px;  height: 50px; font-size: 38px; }
h3[class=ttl-info] { margin-top: 140px; height: 35px; font-size: 20px; }

.info {
  position: absolute;
  width: 40%;
  margin: 1%;
  margin-top: 1%;
  text-shadow: 2px 1px rgb(153, 153, 153);
  font-size: 16px;
  font-weight: bolder;
}
p { margin: 1%; }

center {
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  font-size: medium;
  opacity: 0.7;
  color: #000080;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 3%;
  transition: 0.4s linear;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 10px;
}

center:hover {
  transform: scale(1.3, 1.3);
  opacity: 1;
  border: 3px solid;
  border-style: outset;
  background-color: white;
  animation-name: msg;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: -9s;
}

@keyframes msg {
  1% {
    color: #000080;
  }
  20% {
    color: tomato;
    border-color: crimson;
    background-color: darkred;
    text-shadow: 1px 1px red;
  }
  30% {
    color: yellow;
    border-color: gold;
    background-color: darkorange;
    text-shadow: 1px 1px goldenrod;
  }
  50% {
    color: green;
    border-color: chartreuse;
    background-color: yellowgreen;
    text-shadow: 1px 1px springgreen;
  }
  70% {
    color: deeppink;
    border-color: darkmagenta;
    background-color: violet;
    text-shadow: 1px 1px slateblue;
  }
  80% {
    color: #000080;
    border-color: aqua;
    background-color: #157fdb;
    text-shadow: 1px 1px turquoise;
  }
  100% {
    color: #000080;
  }
}

b {font-size: 40px; text-shadow: none; padding-right: 24%;}
small {font-size: 40px; text-shadow: none; padding-left: 24%}




#category {
  width: 100%;
  background-image: linear-gradient(white,whitesmoke,lightgrey,grey);
  height: 500px;
  border-top: 1px solid;
  padding-top: 2%;
}

#category h3 {
  margin-left: 3%;
  height: 20px;
  text-shadow: 2px 2px lightblue;
  border-bottom: grey 1px solid;
  padding-bottom: 2%;
  width: 93%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#list {
  margin-top: 2%;
  margin-left: 2%;
  display: block;
  list-style: none;
  border-right: grey 1px solid;
  width: 15%;
  padding-right: 2%;
}

#list li { margin-bottom: 40px; }

a[class="pages-links"]:link, a[class="pages-links"]:visited {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s linear;
  border-radius: 10px;
  border-left: 4px solid blue;
  margin-left: 45px;
  padding-left: 6%;
}

a[class="pages-links"]:link:active, a[class="pages-links"]:visited:active {color: #0169C7;}
a[class="pages-links"]:hover {color: rgb(28, 28, 252); box-shadow: 0; text-shadow: 0px 0px 1px rgb(28, 28, 252);}




#credits {
  height: 30px;
  background-image: linear-gradient(blue,darkblue,#034680,#0169C7);
  width: 100%;
  font-size: small;
}

.menu { list-style: none; float: left; }

.menu li {
  position: relative;
  float: left;
  border: 1px solid whitesmoke;
  border-left: none;
  padding-top: 2px  ;
  width: 251pt;
}

.menu li a {
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  transition: 0.2s linear;
}

.menu li a:hover {
  color: white;
  box-shadow: 0;
  -moz-box-shadow: 0 3px 10px 0 #3b8ed6;
  -webkit-box-shadow: 0 3px 10px 0 #3b8ed6;
  text-shadow: 0px 0px 5px #3b8ed6;
}

.menu li ul {
  position: absolute;
  bottom: 25px;
  left: 0;
  display: none;
  width: 100%;
}

.menu li:hover ul, .menu li.over ul { 
  display: block; 
  background-image: linear-gradient(blue,#0169C7); 
}

.menu li ul li { border: 1px solid whitesmoke; display: block; width: 100%; }




aside {
  width: 100%;
  height: 100%;
  padding-top: 3%;
  padding-bottom: 2%;
  border-top: 1px solid grey;
}

aside h2 {
  border-bottom: 1px solid grey;
  padding-bottom: 2%;
  padding-left: 1%;
  margin-top: 4%;
  margin-bottom: 5%;
  margin-left: 2%;
  width: 50%;
}

.last-news {
  width: 50%;
  margin: 2%;
  margin-top: 2%;
  padding-bottom: 3%;
  border-bottom: 1px solid grey;
  border-radius: 10px;
}
.last-news[name="C"] {background-image: linear-gradient(white,lightblue,navy);}
.last-news[name="T"] {background-image: linear-gradient(white,lightcyan,lightseagreen);}
.last-news[name="J"] {background-image: linear-gradient(white,tomato,darkred);}
.last-news[name="F"] {background-image: linear-gradient(white,palegreen,lime);}
.last-news[name="E"] {background-image: linear-gradient(white,lightpink,rgb(255, 84, 255));}
.last-news[name="H"] {background-image: linear-gradient(white,coral,orange);}
.last-news[name="W"] {background-image: linear-gradient(white,lightgreen,seagreen);}

.ltnw-links { display: flex; }

aside a img { height: 170px; width: 240px ; margin-left: 3%; margin-top: 5%; }

aside a h6 { 
  font-size: medium;
  margin-top: 15%;
  transition: 0.4s;
  color: black;
  transform: translateX(-9%);
}
aside a h6:hover { 
  color: #0169C7; 
  box-shadow: 0;
  text-shadow: 0px 1px 5px #5fb4ff;
}

aside a h5 { margin-top: 12%; margin-left: 3%; width: 5%; }
aside a h5[name="C"] {color: #000080;}
aside a h5[name="T"] {color: darkcyan;}
aside a h5[name="J"] {color: crimson;}
aside a h5[name="F"] {color: green;}
aside a h5[name="E"] {color: deeppink;}
aside a h5[name="H"] {color: orangered;}
aside a h5[name="W"] {color: darkgreen;}

aside button {
  font-size: large;
  font-weight: bolder;
  margin: 8%;
  margin-left: 10%;
  width: 35%;
  padding: 1%;
  color: whitesmoke;
  background-color: #157fdb;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
aside button:hover {
  background-color: #3e92ff;
  color: white;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}                   