* { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body { font-family: Verdana, Geneva, Tahoma, sans-serif;}

::selection {color: #000080; background-color: #0169C7; text-shadow: 0px 0px 18px whitesmoke;}

a:link, a:visited {text-decoration: none;}




header {
  border-top: 8px solid darkblue;
  border-bottom: 10px solid darkblue;
  border-radius: 5px;
  font-size: larger;
  background-image: linear-gradient(rgb(142, 211, 235),rgb(142, 211, 235),lightblue,whitesmoke);
  width: 100%;
  height: 200px;
  display: flex;
}

header a {display: flex;}

header a img { margin-left: 3%; margin-top: 3%; height: 165px; width: 200px; }
header a h1 {
  margin-left: 10%;
  color: #0067c6;
  text-shadow: 3px 2px 10px rgb(190, 290, 235);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
  margin-top: 55pt;
}

.head-btn { 
  transition: 0.3s linear; 
  height: 35%;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0;
  -moz-box-shadow: 0 3px 10px 0 #3b8ed6;
  -webkit-box-shadow: 0 3px 10px 0 #3b8ed6;
  color: #0169C7;
  font-size: 93%;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  border: none;
}
.head-btn:hover {
  cursor: pointer;
  background-color: #157fdb;
  color: whitesmoke;
  text-shadow: none;
  border: 2px #0169C7 solid;
}
.head-btn:active {
  background-color: #000080;
  color: lightblue;
  border: none;
}

button[name="serviço"] { width: 9%; border-radius: 10px; margin-left: 46vw; height: 55px;}
button[name="opções"] { 
  width: 4vw;
  height: 9vh; 
  border-radius: 50%;
  transform: rotate(90deg);
  margin-left: 3%;
  font-size: larger;
}
header h2 { transform: translateY(-11px); }




main { 
  height: 120vh; 
  background-color: whitesmoke; 
  border-top: 3px solid black; 
  padding-bottom: 10%;
}

#home { width: 78%; float: left; text-align: center; margin-left: 2%;}

#channels { float: right; width: 18%; margin-right: 2%; }
#channels h3 {
  border-left: 1px solid grey; 
  margin-top: 1%;
  padding-left: 1vw;
}

#home, #channels {
  height: 22px;
  text-shadow: 2px 2px lightblue;
  color: #0169C7;
  padding-bottom: 5vh;
  padding-top: 10px;
  border-bottom: 1px solid grey;
  font-size: small;
}

#homepainel { 
  width: 80%; 
  float: left;  
  border-right: 1px solid grey; 
  margin-top: 1%;
  padding-right: 1%;
}
#channelspainel {
  float: right;
  width: 17%;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 2vw;
  margin-top: 5px;
}

#channelspainel, #homepainel {display: flex; flex-wrap: wrap;}

.news {
  width: 209px;
  margin: 25px;
  margin-top: 10vh;
  border: 2px solid;
  background-color: #0169C7;
  border-radius: 15px;
  padding-bottom: 2%;
}

.img-nws {
  border-radius: 13px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid;
  height: 120px;
  width: 205px;
  margin-bottom: 10%;
}

.news-links:link, .news-links:visited {
  text-shadow: 3px 2px #157fdb;
  color: black;
  transition: 0.3s linear;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  text-align: center;
}

.news-links:link:active, .news-links:visited:active { color: lightblue; }
.news-links:hover { color: whitesmoke; text-shadow: 0px 0px 2px; box-shadow: 0; }

.sites {
  width: 60%;
  padding-top: 7%;
  padding-bottom: 5%;
  text-align: center;
  border-radius: 15px;
  margin-top: 7%;
  transition: 0.5s; 
}
.sites[name="M"] {background-color: lightblue;}
.sites[name="V"] {background-color: #9a0000;}
.sites[name="S"] {background-color: #05dd05;}

.sites:hover {
  cursor: pointer;
  box-shadow: 0;
  -moz-box-shadow: 1px 5px 10px 0 #0169C7;
  -webkit-box-shadow: 1px 5px 10px 0 #0169C7;
}

.img-sts {height: 70px; width: 95px;}

.sites h5 {color: black; }

#channelspainel h4 {
  padding-bottom: 8%;
  margin-top: 50%;
  color: #0169C7;
  border-bottom: 1px solid grey;
  text-shadow: 2px 2px lightblue;
  font-size: medium;
}

.button-channels {
  border-radius: 2px;
  display: flex; flex-wrap: wrap;
  height: 42px; 
  width: 35px;
  margin: 10px;
  padding-top: 15px;
}




center {
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  font-size: large;
  opacity: 0.24;
  color: #000080;
  width: 40%;
  margin-left: 30vw;
  margin-bottom: 4%;
  margin-top: 4%;
  transition: 0.4s linear;
  border-radius: 20px;
  padding: 10px;
}
center:hover {
  transform: scale(1.23, 1.23);
  opacity: 1;
  border: 4px solid;
  border-style: outset;
  animation: backgroundcolor 10s -9s infinite;
}

@keyframes backgroundcolor {
  1% {
    color: #000080;
  }
  20% {
    color: tomato;
    border-color: crimson;
    background-color: darkred;
    text-shadow: 1px 2px 5px red;
  }
  30% {
    color: yellow;
    border-color: gold;
    background-color: darkorange;
    text-shadow: 1px 2px 5px goldenrod;
  }
  50% {
    color: green;
    border-color: chartreuse;
    background-color: yellowgreen;
    text-shadow: 1px 2px 5px springgreen;
  }
  70% {
    color: deeppink;
    border-color: darkmagenta;
    background-color: violet;
    text-shadow: 1px 2px 5px slateblue;
  }
  80% {
    color: #000080;
    border-color: aqua;
    background-color: #157fdb;
    text-shadow: 1px 2px 5px turquoise;
  }
  100% {
    color: #000080;
  }
}

center span {font-size: 65px;}




#menu {
  height: 30px;
  background-image: linear-gradient(blue,darkblue,#034680,#0169C7);
  width: 100%;
  font-size: small;
  border: 1px solid whitesmoke;
  border-left: none;
  border-right: none;
}

.display { list-style: none; float: left; }

.display li {
    position: relative;
    float: left;
    padding-top: 2px;
    width: 268px;
    background-image: linear-gradient(blue,darkblue,#034680,#0169C7);
    border-radius: 10px;
}

.display li a {
  cursor: pointer;
  color: whitesmoke;
  border-radius: 10px;
  font-weight: bolder;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  transition: 0.5s linear;
}
.display li a:hover {
  color: white;
  box-shadow: 0;
  -moz-box-shadow: 0 3px 15px 0 #3b8ed6;
  -webkit-box-shadow: 0 3px 15px 0 #3b8ed6;
  text-shadow: 0px 0px 5px #3b8ed6;
}
.display li a:active {
  background-color: #000080;
  color: lightblue;
  border: none;
  box-shadow: 0;
  -moz-box-shadow: 0 3px 15px 0 #3b8ed6;
  -webkit-box-shadow: 0 3px 15px 0 #3b8ed6;
  text-shadow: 0px 0px 5px #3b8ed6;
}

.display li ul {
  position: absolute;
  bottom: 86px;
  left: 0;
  display: none;
  width: 100%;
}
.display li:hover ul {display: block;  height: 0; border-radius: 10px;}

.display li ul li { 
  background-image: linear-gradient(blue,darkblue,#034680,#0169C7);
  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: block;
  width: 100%;
}




#last-news {
  width: 100%;
  height: 100%;
  padding-top: 3%;
  padding-bottom: 2%;
  border-top: 1px solid grey;
}

#last-news h2 {
  border-bottom: 1px solid grey;
  padding-bottom: 1%;
  padding-left: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
  width: 50%;
}

.LN-template {
  width: 52%;
  margin: 2%;
  margin-top: 2%;
  padding-bottom: 3%;
  border-bottom: 1px solid grey;
  border-radius: 10px;
}
.LN-template[name="C"] {background-image: linear-gradient(white,lightblue,navy);}
.LN-template[name="T"] {background-image: linear-gradient(white,lightcyan,lightseagreen);}
.LN-template[name="J"] {background-image: linear-gradient(white,#fc2f4b,darkred);}
.LN-template[name="F"] {background-image: linear-gradient(white,palegreen,lime);}
.LN-template[name="E"] {background-image: linear-gradient(white, pink, magenta);}
.LN-template[name="H"] {background-image: linear-gradient(white,coral,orange);}
.LN-template[name="W"] {background-image: linear-gradient(white,lightgreen,seagreen);}

.LN-link {display: flex;}

#last-news a img { height: 170px; width: 240px ; margin-left: 3%; margin-top: 5%; border-radius: 8px; }

#last-news a h6 { 
  font-size: 14px;
  margin-top: 15%;
  transition: 0.4s;
  color: black;
  transform: translateX(-9%);
}
#last-news a h6:hover { 
  color: #0169C7; 
  box-shadow: 0;
  text-shadow: 0px 1px 5px #5fb4ff;
}

.news-type { margin-top: 12%; margin-left: 3%; width: 5%; }
.news-type[name="C"] {color: #000080;}
.news-type[name="T"] {color: darkcyan;}
.news-type[name="J"] {color: rgb(168, 0, 34);}
.news-type[name="F"] {color: green;}
.news-type[name="E"] {color: deeppink;}
.news-type[name="H"] {color: orangered;}
.news-type[name="W"] {color: darkgreen;}

#last-news button {
  font-size: large;
  font-weight: bolder;
  margin: 8%;
  margin-left: 10%;
  width: 35%;
  padding: 1%;
  color: whitesmoke;
  background-color: #157fdb;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
#last-news button:hover {
  background-color: #3e92ff;
  color: white;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}                   




#category {
  width: 100%;
  background-image: linear-gradient(white,whitesmoke,lightgrey,grey);
  height: 500px;
  border-top: 1px solid;
  padding-top: 2%;
}

#category h3 {
  margin-left: 3%;
  height: 20px;
  text-shadow: 2px 2px lightblue;
  border-bottom: grey 1px solid;
  padding-bottom: 6vh;
  width: 93%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#list {
  margin-top: 2%;
  margin-left: 2%;
  display: block;
  list-style: none;
  border-right: grey 1px solid;
  width: 15%;
  padding-right: 2%;
}

#list li { margin-bottom: 43px; font-size: smaller;}

.pages-links:link, .pages-links:visited {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s linear;
  border-radius: 10px;
  border-left: 4px solid blue;
  margin-left: 45px;
  padding-left: 6%;
}

.pages-links:link:active, .pages-links:visited:active {color: #0169C7;}
.pages-links:hover {color: rgb(28, 28, 252); box-shadow: 0; text-shadow: 0px 0px 1px rgb(28, 28, 252);}




footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: x-small;
  background-image: linear-gradient(#1e7af1,#0169C7,#216daf);
  border-top: 2px solid rgba(0, 0, 0, 0.829);
  text-shadow: 1px 0px #0169C7;
}